/* presentation */

.presentation {
    padding: 0px 15%;
    font-size: 1.25em;
}

p {
    text-align: center;
}

/* members */

.card {
    width: 20%;
}

.card img {
    width: 60%;
}

/* footer */

footer a i {
    transition: transform 2s;
}

footer a i:hover {
    transform: rotate(360deg);
}