/* presentation */

.presentation {
    padding: 0px 40px;
}

/* members */

h2 {
    margin-top: 0;
}

.card {
    width: 40%;
}

.card img {
    width: 60%;
}

.members-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 45px;
    row-gap: 45px;
}